.btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border-radius: 30px;

    &:hover {
        color: var(--text-color);
        background-color: var(--bg-color-3);
    }

    &:active {
        background-color: var(--bg-color-3);
        transform: scale(0.98);
    }

    &:focus {
        outline: 2px solid var(--primary-color);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}