// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color-grey: #EFF1F4;
    --bg-color-blue: #21A0AA;
    --bg-color-white: #fff;
    --primary-color: #F16D22;
    --text-color: #20304A;
    --text-color-addicional: #8A99B5;
    --text-color-light: #fff;

    // Fonts
    --main-font: "Golos", "Arial", sans-serif;
}
