<div class="submenu submenu-1">
    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Квартиры без отделки</a></li>
        <li><a class="submenu__link reset-link" href="#">Квартиры c отделкой</a></li>
        <li><a class="submenu__link reset-link" href="#">Квартиры с предчистовой отделкой</a></li>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="103" viewBox="0 0 2 103" fill="none">
        <path opacity="0.3" d="M1 103L1 8.34465e-07" stroke="#8A99B5"/>
    </svg>

    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Официальная проверка площади</a></li>
        <li><a class="submenu__link reset-link" href="#">Тепловизионное обследование квартиры </a></li>
        <li><a class="submenu__link reset-link" href="#">Заключение специалиста</a></li>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="103" viewBox="0 0 2 103" fill="none">
        <path opacity="0.3" d="M1 103L1 8.34465e-07" stroke="#8A99B5"/>
    </svg>

    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Приемка квартиры после ремонта</a></li>
        <li><a class="submenu__link reset-link" href="#">Повторная приемка квартиры в новостройке</a></li>
    </ul>
</div>
            
<div class="submenu submenu-2">
    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">О компании</a></li>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
        <path opacity="0.3" d="M1 18L1 -2.68221e-07" stroke="#8A99B5"/>
    </svg>

    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Отзывы</a></li>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
        <path opacity="0.3" d="M1 18L1 -2.68221e-07" stroke="#8A99B5"/>
    </svg>

    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Документация</a></li>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="18" viewBox="0 0 2 18" fill="none">
        <path opacity="0.3" d="M1 18L1 -2.68221e-07" stroke="#8A99B5"/>
    </svg>

    <ul class="reset-list">
        <li><a class="submenu__link reset-link" href="#">Контакты</a></li>
    </ul>
</div>