@media screen and (min-width: 300px) and (max-width: 700px) {
    .header {
        display: flex;
        padding: 20px 20px;
        justify-content: space-between;
        background-color: var(--bg-color-white);
        border-radius: 50px;

        &__phone {
            z-index: 100;
            position: absolute;
            margin-top: 200px;
            opacity: 0;
            color: var(--text-color-addicional);
        }
    }

    .countries {

        &__link {
            width: 40px;
            height: 40px;
        }
    }

    .phone{
        &__link{
            color: var(--text-color);
        }
    }

    .phone_active {
        opacity: 1;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .header {
        margin: 20px;
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: var(--bg-color-white);
        border-radius: 50px;
    
        &__phone {
            display: flex;
            margin-left: auto;
        }
    
        &__countries {
            margin-left: 24px;
        }
    }
    
    .countries {
        align-items: end;
        flex-wrap: wrap;
        gap: 4px;
    
        &__link {
            width: 40px;
            height: 40px;
        }
    }
    
    .phone {
        color: var(--text-color-addicional);
    
        &__link {
            color: var(--text-color);
            width: auto;
            height: auto;
            transition: all 0.2s ease-in-out;
    
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        margin: 20px;
        align-self: center;
        z-index: 100;
        display: flex;
        align-items: center;
        padding: 20px 24px;
        background-color: var(--bg-color-white);
        border-radius: 50px;
    
        &__phone {
            display: flex;
            margin-left: auto;
        }
    
        &__countries {
            margin-left: 24px;
        }
    }
    
    .countries {
        z-index: 100;
        align-items: end;
        right: 0;
        flex-wrap: wrap;
        gap: 4px;
    
        &__link {
            width: 40px;
            height: 40px;
        }
    }
    
    .phone {
        z-index: 100;
        color: var(--text-color-addicional);
    
        &__link {
            color: var(--text-color);
            width: auto;
            height: auto;
            transition: all 0.2s ease-in-out;
    
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}