.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        width: 180px;
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__link {
        color: var(--text-color);

        &:hover{
            color: var(--primary-color);
        }
    }

    & li:hover .submenu{
        padding: 40px 60px;
    }
}

.submenu {
    display: flex;
    top: 100%;
    left: 0;
    gap: 40px;

    &__link{
        color: var(--text-color);

        &:hover{
            color: var(--primary-color);
        }
    }
}

.contacts {
    align-items: end;
    flex-wrap: wrap;
    gap: 4px;

    &__link {
        color: var(--text-color);

        &:hover {
            color: var(--primary-color);
        }
    }
}

.countries {
    align-items: end;
    flex-wrap: wrap;
    gap: 4px;
}