.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        width: 180px;
    }
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__link {
        color: var(--text-color);
        transition: all 0.2s ease-in-out;

        &:hover{
            color: var(--primary-color);
        }
        
        &:hover .menu__link-arrow{
           fill: var(--primary-color);
           transform: rotate(180deg);
        }
    }

    &__link-arrow{
        width: 10px;
        height: 6px;
        transition: all 0.2s ease-in-out;
    }
}

.submenu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    gap: 40px;

    &__link{
        color: var(--text-color);
        transition: all 0.2s ease-in-out;

        &:hover{
            color: var(--primary-color);
        }
    }
}
