<footer class="footer">
    <!-- Information -->
    <div class="footer__big-footer info">
        <a class="info__link reset-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21"
                viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M3 9.21582C3 5.12908 6.0807 1.71582 10 1.71582C13.9193 1.71582 17 5.12908 17 9.21582C17 11.3069 16.1105 13.3181 15.0407 14.9923C13.9647 16.6761 12.6606 18.09 11.7303 19.0023C10.7602 19.9536 9.23977 19.9536 8.2697 19.0023C7.33935 18.09 6.03528 16.6761 4.95934 14.9923C3.88954 13.3181 3 11.3069 3 9.21582ZM7 8.72006C7 7.06321 8.34315 5.72006 10 5.72006C11.6569 5.72006 13 7.06321 13 8.72006C13 10.3769 11.6569 11.7201 10 11.7201C8.34315 11.7201 7 10.3769 7 8.72006Z"
                    fill="#499DDF" />
            </svg> Нур-Султан, ул. Московская, 20</a>
        <h3 class="h3">office@sapacontol.kz <br>
            +9 900 228-11-09</h3>
        <p>Ежедневно с 9:00 до 21:00</p>
        <a class="reset-link" href="#">
            <picture>
                <!-- <source srcset="./assets/images/offer.avif" type="image/avif">
                    <source srcset="./assets/images/offer.webp" type="image/webp"> -->
                <img src="/assets/images/tg.png" alt="Изображение телеграма">
            </picture>
        </a>
        <a class="reset-link" href="#">
            <picture>
                <!-- <source srcset="./assets/images/offer.avif" type="image/avif">
                    <source srcset="./assets/images/offer.webp" type="image/webp"> -->
                <img src="/assets/images/WhatsApp.png" alt="Изображение вотсапа">
            </picture>
        </a>
    </div>
    <!-- End Information -->

    <!-- Clients -->
    <div class="footer__big-footer clients-company">
        <h3 class="h3">клиентам</h3>
        <ul class="reset-list">
            <li><a class="clients-company__link reset-link" href="#">Услуги и цены</a></li>
            <li><a class="clients-company__link reset-link" href="#">Отчеты</a></li>
            <li><a class="clients-company__link reset-link" href="#">Отзывы</a></li>
        </ul>
    </div>
    <!-- End Clients -->

    <!-- Company -->
    <div class="footer__big-footer clients-company">
        <h3 class="h3">компания</h3>
        <ul class="reset-list">
            <li><a class="clients-company__link reset-link" href="#">О нас</a></li>
            <li><a class="clients-company__link reset-link" href="#">Документация</a></li>
            <li><a class="clients-company__link reset-link" href="#">Контакты</a></li>
        </ul>
    </div>
    <!-- End Company -->

    <!-- Useful Links -->
    <div class="footer__small-footer small-footer">
        <a class="small-footer__link reset-link" href="#">© 1998-2023 Sapa Contol</a>
        <a class="small-footer__link reset-link" href="#">Политика конфиденциальности</a>
        <a class="small-footer__link reset-link" href="#">Пользовательское соглашение</a>
    </div>
    <!-- End Useful Links -->
</footer>